/* Estilos para el centro de la pagina*/

.question-body {
    height: 60vh;
    margin:auto;
    padding: 100px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}
/*Campo de texto*/
.input{
    background-color: var(--grey-color);
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:25px;
    border-radius: 30px;
    box-shadow:0 .5px 12px var(--white);
}
.input input {
  background-color: var(--grey-color);
  width: 90%;
  height: 50px;
  color: var(--white);
  border-style:solid;
  border-color:var(--grey-color);
}
/* Campo de botones*/
.tools-kit{
  display: flex;
  justify-content: space-between;
  align-items:center;
  flex-direction: row;
  width: 97%;
}
/* Botones del tools-kit*/
.tools-kit .button-with-text {
  display:flex;
  width: 200px;
  justify-content: center;
  align-items:center;
  flex-direction:row;
  gap:10px;
  border-style: solid;
  padding: 5px;
  border-radius: 50px;
}
.tools-kit .button-with-text:hover {
  background-color: #505050;
  border-color: #505050;
}
.button-with-text img {
  width:25px;
  height:25px;
}
.button-with-text p{
  font-size: 10px;
  color: var(--white);
}
